body{
    margin: 0;
}
#left{
    background-color: aliceblue;
    height: 100vh;
    width: 40vw;
    float: left;
}
#right{
    background-color:burlywood;
    width: 60vw;
    height: 100vh;
    float: right;
}
#header{
    height:10vh;
    width: 100%;
    background-color:bisque;
}