<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import "/static/index.css";
    </style>
</head>
<body>
    <div id="header">
        <div id="links">
            <h2><a>서비스 소개</a></h1>
            <h2><a>동아리 보기</a></h1>
            <h2><a>로그인</a></h1>
        </div>
    </div>
    <div id="container">
        <h2>사이트 소개글</h1>
        <div id="sidebar">
            <h2>인기 동아리 리뷰 모음</h1>
        </div>
    </div>
</body>
</html>